node_modules
coverage
.idea
/src
/demo
/test
.prettierrc
.eslintignore
.eslintrc.json
tsconfig.json
tsconfig.build.json
tslint.json
yarn.lock
yarn-error.log
*.tgz
.cache
jest.config.js
.git/
.circleci/